body {
    margin: 0;
    background-color: #0B1926;
}

div.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* I found the responsive vertical alignment for the content class on W3Schools. */

div.navbar {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.navbutton {
    background-color: #BC804A;
    margin: 0 10px;
    padding: 0 25px;
    border-radius: 50px;
}

div.navbutton:hover {
    background-color: #BF001C;
}

h3.navtext {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

a {
    text-decoration: none;
    color: #0B1926;
}

img {
    width: 200px;
}

img:hover {
    animation-name: zoom;
    animation-duration: 2000ms;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes zoom {
    0% {

    }

    50% {
        transform: scale(1.25) rotate(-30deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

div.name {
    color: #E48C26;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

span#typed {
    color: #BF001C;
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 85;
}

h3.music {
    color: #E48C26;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

ul {
    text-align: left;
    padding-left: 200px;
    color: #BF001C;
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 85;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 50px;
}

/* I found the code to center the table on W3Schools. */

th {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-bottom: #E48C26 3px dotted;
}

td {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}